# Exploring the Mad Men Cast Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Loading the Data Set

In [2]:
cast_data_csv = '../datasets/mad-men-cast-show-data.csv'

In [3]:
cast = pd.read_csv(cast_data_csv, encoding='iso-8859-1')

## Exploratory Data Analysis

In [5]:
cast.head()

,Performer,Show,Show Start,Show End,Status?,CharEnd,Years Since,#LEAD,#SUPPORT,#Shows,Score,Score/Y,lead_notes,support_notes,show_notes
0,Steven Hill,Law & Order,1990,2010,END,2000,15,0,0,0,0.00,0,NaN,NaN,NaN
1,Kelli Williams,The Practice,1997,2014,END,2003,12,0,1,6,6.25,0.520833333,NaN,Any Day Now (2012),"Medical Investigation, Season 1; Lie To Me, Se..."
2,LisaGay Hamilton,The Practice,1997,2014,END,2003,12,2,0,2,4.00,0.333333333,"Life of a King, 2014; Go For Sisters, 2013",NaN,"Men of a Certain Age, Season 1-2"
3,Lara Flynn Boyle,The Practice,1997,2014,END,2003,12,0,0,0,0.00,0,NaN,NaN,NaN
4,Dylan McDermott,The Practice,1997,2014,END,2004,11,2,7,6,9.75,0.886363636,"Olympus Has Fallen, 2013; Freezer, 2014","The Messengers, 2007; Unbeatable Harold, 2009;...","Big Shots, Season 1; Dark Blue, Season 1-2; Am..."

In [6]:
cast.tail()

,Performer,Show,Show Start,Show End,Status?,CharEnd,Years Since,#LEAD,#SUPPORT,#Shows,Score,Score/Y,lead_notes,support_notes,show_notes
243,Meghan Wolfe,True Detective,2014,PRESENT,LEFT,2014,1,0,0,0,0.00,0,NaN,NaN,NaN
244,Kevin Dunn,True Detective,2014,PRESENT,LEFT,2014,1,0,1,2,2.25,2.25,NaN,"Draft Day, 2014","Veep, Season 3-4"
245,Charles Dance,Game of Thrones,2011,PRESENT,LEFT,2015,0,0,2,1,1.50,#DIV/0!,NaN,"Woman in Gold, 2015; Child 44, 2015","Deadline Gallipoli, Season 1"
246,Patrick Dempsey,Grey's Anatomy,2005,PRESENT,LEFT,2015,0,0,0,0,0.00,#DIV/0!,NaN,NaN,NaN
247,Ian McElhinney,Game of Thrones,2011,PRESENT,LEFT,2015,0,0,0,0,0.00,#DIV/0!,NaN,NaN,NaN

In [9]:
cast.dtypes

Performer         object
Show              object
Show Start         int64
Show End          object
Status?           object
CharEnd            int64
Years Since        int64
#LEAD              int64
#SUPPORT           int64
#Shows             int64
Score            float64
Score/Y           object
lead_notes        object
support_notes     object
show_notes        object
dtype: object

In [10]:
cast.columns.tolist()

['Performer',
 'Show',
 'Show Start',
 'Show End',
 'Status?',
 'CharEnd',
 'Years Since',
 '#LEAD',
 '#SUPPORT',
 '#Shows',
 'Score',
 'Score/Y',
 'lead_notes',
 'support_notes',
 'show_notes']

In [ ]:
'performer',
                     'show',
                     'show_start',
                     'show_end',
                     'status',
                     'char_end',
                     'years_since',
                     'lead',
                     'support',
                     'shows',
                     'score',
                     'score_y',
                     'lead_notes',
                     'support_notes',
                     'show_notes'

In [19]:
new_column_names = {'Performer':'performer',
                     'Show':'show',
                     'Show Start':'show_start',
                     'Show End':'show_end',
                     'Status?':'status',
                     'CharEnd':'char_end',
                     'Years Since': 'years_since',
                     '#LEAD':'lead',
                     '#SUPPORT':'support',
                     '#Shows':'shows',
                     'Score':'score',
                     'Score/Y':'score_y',
                     'lead_notes':'lead_notes',
                     'support_notes':'support_notes',
                     'show_notes':'show_notes'
                   }

In [28]:
cast = cast.rename(columns=new_column_names)

In [29]:
cast.head()

,performer,show,show_start,show_end,status,char_end,years_since,lead,support,shows,score,score_y,lead_notes,support_notes,show_notes
0,Steven Hill,Law & Order,1990,2010,END,2000,15,0,0,0,0.00,0,NaN,NaN,NaN
1,Kelli Williams,The Practice,1997,2014,END,2003,12,0,1,6,6.25,0.520833333,NaN,Any Day Now (2012),"Medical Investigation, Season 1; Lie To Me, Se..."
2,LisaGay Hamilton,The Practice,1997,2014,END,2003,12,2,0,2,4.00,0.333333333,"Life of a King, 2014; Go For Sisters, 2013",NaN,"Men of a Certain Age, Season 1-2"
3,Lara Flynn Boyle,The Practice,1997,2014,END,2003,12,0,0,0,0.00,0,NaN,NaN,NaN
4,Dylan McDermott,The Practice,1997,2014,END,2004,11,2,7,6,9.75,0.886363636,"Olympus Has Fallen, 2013; Freezer, 2014","The Messengers, 2007; Unbeatable Harold, 2009;...","Big Shots, Season 1; Dark Blue, Season 1-2; Am..."

In [8]:
cast.describe().T

,count,mean,std,min,25%,50%,75%,max
Show Start,248.0,2004.713710,4.985271,1990.0,2003.00,2006.0,2008.0,2014.00
CharEnd,248.0,2009.895161,3.331408,2000.0,2006.00,2010.0,2013.0,2015.00
Years Since,248.0,5.104839,3.331408,0.0,2.00,5.0,9.0,15.00
#LEAD,248.0,0.673387,1.214861,0.0,0.00,0.0,1.0,8.00
#SUPPORT,248.0,1.560484,2.352613,0.0,0.00,1.0,2.0,17.00
#Shows,248.0,1.729839,2.195781,0.0,0.00,1.0,3.0,10.00
Score,248.0,2.793347,2.931469,0.0,0.25,2.0,4.5,14.25

In [31]:
cast.isnull().sum()

performer          0
show               0
show_start         0
show_end           0
status             0
char_end           0
years_since        0
lead               0
support            0
shows              0
score              0
score_y            0
lead_notes       159
support_notes    113
show_notes       110
dtype: int64

In [32]:
cast.shape

(248, 15)

In [35]:
cast.performer.unique()

array(['Steven Hill', 'Kelli Williams', 'LisaGay Hamilton',
       'Lara Flynn Boyle', 'Dylan McDermott', 'Camryn Manheim',
       'Steve Harris', 'Marla Sokoloff', 'Jerry Orbach',
       'Michael Badalucco', 'Michael C. Hall', 'Joe Mantegna',
       'Peter Krause', 'Rachel Griffiths', 'Jason Ritter',
       'Freddy RodrÕguez', 'Frances Conroy', 'Lauren Ambrose',
       'Amber Tamblyn', 'Justina Machado', 'Mary Steenburgen',
       'Mathew St. Patrick', 'Michael Welch', 'Aaron Himelstein',
       'Becky Wahlstrom', 'Chris Marquette', 'Mageina Tovah', 'Rob Lowe',
       'Dul_ Hill', 'Dayton Callie', 'Timothy Olyphant', 'Joshua Malina',
       'Anna Gunn', 'Allison Janney', 'Drea de Matteo', 'Paula Malcomson',
       'Leon Rippy', 'Kim Dickens', 'Bradley Whitford', 'Molly Parker',
       'William Sanderson', 'Sean Bridgers', 'Richard Schiff',
       'Ian McShane', 'John Hawkes', 'Robin Weigert', 'Jim Beaver',
       'Powers Boothe', 'Titus Welliver', 'Keone Young', 'Janel Moloney',
       'Melissa Fitzgerald', 'W. Earl Brown', 'John Spencer',
       'Martin Sheen', 'NiCole Robinson', 'Brad Dourif',
       'Bree Seanna Wall', 'Jeffrey Jones', 'Peter Jason', 'Larry Cedar',
       'Geri Jewell', 'Ralph Richeson', 'Edie Falco', 'Lorraine Bracco',
       'Mark Valley', 'Steve Schirripa', 'Michael Imperioli',
       'Steven Van Zandt', 'Jamie-Lynn Sigler', 'Dominic Chianese',
       'James Gandolfini', 'Tony Sirico', 'Robert Iler', 'Aida Turturro',
       'Dan Grimaldi', 'Julie Bowen', 'Goran Visnjic', 'James Spader',
       'Rene Auberjonois', 'Gaius Charles', 'Anthony Edwards',
       'William Shatner', 'Candice Bergen', 'Noah Wyle', 'Maura Tierney',
       'Laura Innes', 'Carlos Bernard', 'Minka Kelly', 'Yvette Freeman',
       'Laura CerÑn', 'Deezer D', 'Eriq La Salle', 'Emily Wagner',
       'Adrian Pasdar', 'Scott Porter', 'Daniel Dae Kim',
       'Kiefer Sutherland', 'Michael Emerson', 'Harold Perrineau',
       'Milo Ventimiglia', 'Masi Oka', 'Sam Waterston',
       'Mary Lynn Rajskub', 'Emilie de Ravin', 'Henry Ian Cusick',
       'Dominic Monaghan', 'Hayden Panettiere', 'Sendhil Ramamurthy',
       'Julie Benz', 'Jorge Garcia', 'Naveen Andrews', 'Yunjin Kim',
       "Terry O'Quinn", 'Greg Grunberg', 'Zachary Quinto', 'Tate Donovan',
       'Josh Holloway', 'Jack Coleman', 'Ali Larter', 'Ashley Crow',
       'Shawn Doyle', 'S. Epatha Merkerson', 'Matthew Fox',
       'Evangeline Lilly', 'James Kyson', 'Cristine Rose',
       'Melora Walters', 'Harry Dean Stanton', 'Ginnifer Goodwin',
       'Chlo\x91 Sevigny', 'Matt Ross', 'Connie Britton',
       'Jeanne Tripplehorn', 'Aimee Teegarden', 'Louanne Stephens',
       'Lisa Edelstein', 'Joel McKinnon Miller', 'Jesse Plemons',
       'Adrianne Palicki', 'Bill Paxton', 'Kyle Chandler', 'Zach Gilford',
       'Derek Phillips', 'Stacey Oristano', 'Douglas Smith',
       'Grace Zabriskie', 'Keegan Holst', 'Garrett Gray',
       'Amanda Seyfried', 'Mary Kay Place', 'Daveigh Chase', 'Bruce Dern',
       'Brad Leland', 'Taylor Kitsch', 'Blue Deckert',
       'Timothy F. Crowley', 'Siobhan Finneran', 'Jennifer Morrison',
       'Robert Sean Leonard', 'Jesse Spencer', 'Omar Epps', 'Eric Dane',
       'David Harewood', 'Hugh Laurie', 'Bobbin Bergstrom',
       'Peter Jacobson', 'Glenn Close', 'Rose Byrne', 'Zachary Booth',
       'Christina Robinson', 'Dan Stevens', 'Bob Odenkirk',
       'Michelle Fairley', 'David Zayas', 'Dean Norris', 'Betsy Brandt',
       'Morena Baccarin', 'Diego Klattenhoff', 'Marg Helgenberger',
       'James Remar', 'Aaron Paul', 'Jack Huston', 'Jennifer Carpenter',
       'C.S. Lee', 'Lauren V\x8elez', 'Desmond Harrington',
       'Bryan Cranston', 'RJ Mitte', 'Steven Michael Quezada',
       'Michael Stuhlbarg', 'Anthony Laciura', 'Brady Noon',
       'Connor Noon', 'Lucy Gallina', 'Josie Gallina', 'Declan McTigue',
       'Rory McTigue', 'Jackson Pace', 'Morgan Saylor',
       'Deborah Ann Woll', 'Shea Whigham', 'Paul Sparks', 'Rory McCann',
       'Tory Kittles', 'J.D. Evermore', 'Paul Guilfoyle', 'Anna Paquin',
       'Stephen Moyer', 'Sam Trammell', 'Ryan Kwanten', 'Rutina Wesley',
       'Chris Bauer', 'Nelsan Ellis', 'Carrie Preston',
       'Alexander Skarsg\x8crd', 'Kristin Bauer van Straten', 'Todd Lowe',
       'Jim Parrack', 'Lauren Bowles', 'Joe Manganiello', 'Steve Buscemi',
       'Stephen Graham', 'Vincent Piazza', 'Kelly Macdonald',
       'Michael Shannon', 'Michael Kenneth Williams', 'Gretchen Mol',
       'Anatol Yusef', 'Jack Gleeson', 'Michael Gill',
       'Matthew McConaughey', 'Woody Harrelson', 'Michelle Monaghan',
       'Michael Potts', 'Dana Gourrier', 'Michael Irby', 'Joe Chrest',
       'Dane Rhodes', 'Michael Hyatt', 'Tony Molina Jr.', 'Meghan Wolfe',
       'Kevin Dunn', 'Charles Dance', 'Patrick Dempsey', 'Ian McElhinney'],
      dtype=object)

In [38]:
cast.show.unique()

array(['Law & Order', 'The Practice', 'Six Feet Under', 'Joan of Arcadia',
       'The West Wing', 'Deadwood', 'The Sopranos', 'Boston Legal', 'ER',
       'Friday Night Lights', '24', 'Heroes', 'Lost', 'Dexter', 'Damages',
       'Big Love', 'House', 'Downton Abbey', "Grey's Anatomy", 'Homeland',
       'Breaking Bad', 'Game of Thrones',
       'CSI: Crime Scene Investigations', 'Boardwalk Empire',
       'True Blood', 'True Detective -10', 'True Detective -29',
       'House of Cards', 'True Detective'], dtype=object)