# Dan Murphy Whisky

In [2]:
# Import Statments
import numpy as np
import pandas as pd
import requests
from random import randint
from bs4 import BeautifulSoup
from time import sleep
import itertools
import lxml
from selenium import webdriver
from selenium.webdriver.common.by import By 
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC 
from selenium.common.exceptions import TimeoutException

## Web Scrapping Functions

In [152]:
def dan_scrapper(link):
    
    option = webdriver.ChromeOptions()
    option.add_argument(" â€” incognito")
    driver = webdriver.Chrome(executable_path = "./chromedriver", chrome_options = option)
    
    link = link
    
    driver.get(link)
    
    name = []
    description = []
    price = []
    link = []

    for n in range(1,121):
        
        try:
            name.append(driver.find_element_by_xpath('//*[@id="results"]/div[1]/div[2]/search-results/div/ul/li['+str(n)+']/shop-product-card/div/section/div[3]/h2/a/span[1]').text)
        except:
            name.append('none_found')
        try:
            description.append(driver.find_element_by_xpath('//*[@id="results"]/div[1]/div[2]/search-results/div/ul/li['+str(n)+']/shop-product-card/div/section/div[3]/h2/a/span[2]').text)
        except: 
            description.append('none_found')
        try:
            price.append(driver.find_element_by_xpath('//*[@id="results"]/div[1]/div[2]/search-results/div/ul/li['+str(n)+']').text.split('$')[1:2])
        except:
            price.append('none_found')
        try:
            link.append(driver.find_element_by_xpath('//*[@id="results"]/div[1]/div[2]/search-results/div/ul/li['+str(n)+']/shop-product-card/div/section/div[3]/h2/a').get_attribute('href'))
        except:
            link.append('none_found')
            
            
    df = pd.DataFrame({'name':name, 'description':description, 'price':price, 'links':link})
    
    
    return df

In [423]:
def dans_page_scrapper():

    product_details = []
    variatal = []
    size = []
    region = []
    vintage = []
    standard_drinks = []
    alcohol_volumne = []
    country = []
    brand = []
    closure = []
    style = []
    
    counter = 1
    
    for link in dans['links']:
        
        driver.get(link)
        
        driver.implicitly_wait(3)
        
        counter += 1
      
        try:
            product_details.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[1]/div[2]').text)
        except:
            product_details.append('no_information')
        try:
            variatal.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[2]/div/ul/li[1]/span[2]').text)
        except:
            variatal.append('no_information')
        try:
            size.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[2]/div/ul/li[2]/span[2]').text)
        except:
            size.append('no_information')
        try:
            region.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[2]/div/ul/li[3]/span[2]').text)
        except:
            region.append('no_information')
        try:
            vintage.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[2]/div/ul/li[4]/span[2]').text)
        except:
            vintage.append('no_information')
        try:
            standard_drinks.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[2]/div/ul/li[5]/span[2]').text)
        except:
            standard_drinks.append('no_information')
        try:
            alcohol_volumne.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[2]/div/ul/li[6]/span[2]').text)
        except:
            alcohol_volumne.append('no_information')
        try:   
            country.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[2]/div/ul/li[7]/span[2]').text)
        except:
            country.append('no_information')
        try:
            brand.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[2]/div/ul/li[8]/span[2]').text)
        except:
            brand.append('no_information')
        try:
            closure.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[2]/div/ul/li[9]/span[2]').text)
        except:
            closure.append('no_information')
        try:
            style.append(driver.find_element_by_xpath('//*[@id="main-content"]/div/shop-product-detail/div/section/div[3]/div[2]/div/ul/li[10]/span[2]').text)
        except:
            style.append('no_information')
            
        print('Page Counter:', counter)
            
    df = pd.DataFrame({'product_details':product_details,
                      'variatal':variatal,
                      'size':size,
                      'region':region,
                      'vintage':vintage,
                      'standard_drinks':standard_drinks,
                      'alcohol_volumne':alcohol_volumne,
                      'country':country,
                      'brand':brand,
                      'closure':closure,
                      'style':style})
    
    return df

## Combining DataFrames

In [1360]:
dans = pd.read_csv('./danmurphys.csv', index_col=0)
print(dans.shape)
dans.reset_index(inplace=True)
dans.drop(['index'], axis=1, inplace=True)
dans.head(3)

(422, 4)

,name,description,price,links
0,Laphroaig,Quarter Cask Scotch Whisky 700mL,84.95,https://www.danmurphys.com.au/product/DM_91660...
1,Laphroaig,10 Year Old Single Malt Scotch Whisky 700mL,79.95,https://www.danmurphys.com.au/product/DM_5512/...
2,Glenfarclas,15 Year Old Single Malt Scotch Whisky 700mL,109.95,https://www.danmurphys.com.au/product/DM_14392...

In [1361]:
pages = pd.read_csv('./data.csv', index_col=0)
pages.head(3)

,product_details,variatal,size,region,vintage,standard_drinks,alcohol_volumne,country,brand,closure,style
0,"The Quarter Cask is a strong, double cask matu...",Scotch Whisky,700mL,Islay,Laphroaig Quarter Cask,26.5,48.00%,Scotland,Laphroaig,Cork,Single Malt
1,"Laphroaig, founded in 1815 by brothers Donald ...",Scotch Whisky,700mL,Islay,Laphroaig 10 Year Old Single Malt Whisky,22,40.00%,Scotland,10 Year Old,NaN,NaN
2,15 Year Old Single Malt Scotch Whisky 700mL,Scotch Whisky,700mL,Speyside,Glenfarclas 15 Year Old Single Malt Highland W...,25,46.00%,NaN,NaN,NaN,NaN

In [1362]:
whisky = pd.concat([dans, pages], axis=1)
whisky.head(3)

,name,description,price,links,product_details,variatal,size,region,vintage,standard_drinks,alcohol_volumne,country,brand,closure,style
0,Laphroaig,Quarter Cask Scotch Whisky 700mL,84.95,https://www.danmurphys.com.au/product/DM_91660...,"The Quarter Cask is a strong, double cask matu...",Scotch Whisky,700mL,Islay,Laphroaig Quarter Cask,26.5,48.00%,Scotland,Laphroaig,Cork,Single Malt
1,Laphroaig,10 Year Old Single Malt Scotch Whisky 700mL,79.95,https://www.danmurphys.com.au/product/DM_5512/...,"Laphroaig, founded in 1815 by brothers Donald ...",Scotch Whisky,700mL,Islay,Laphroaig 10 Year Old Single Malt Whisky,22,40.00%,Scotland,10 Year Old,NaN,NaN
2,Glenfarclas,15 Year Old Single Malt Scotch Whisky 700mL,109.95,https://www.danmurphys.com.au/product/DM_14392...,15 Year Old Single Malt Scotch Whisky 700mL,Scotch Whisky,700mL,Speyside,Glenfarclas 15 Year Old Single Malt Highland W...,25,46.00%,NaN,NaN,NaN,NaN

In [1363]:
whisky.to_csv('./whisky.csv')

## Data Cleaning

In [4]:
whisky = pd.read_csv('./whisky.csv', index_col=0)
whisky.head(3)

,name,description,price,links,product_details,variatal,size,region,vintage,standard_drinks,alcohol_volumne,country,closure
0,laphroaig,quarter cask scotch whisky 700ml,84.95,https://www.danmurphys.com.au/product/DM_91660...,"the quarter cask is a strong, double cask matu...",single malt,700.0,islay,laphroaig quarter cask,26.5,48.00%,scotland,cork
1,laphroaig,10 year old single malt scotch whisky 700ml,79.95,https://www.danmurphys.com.au/product/DM_5512/...,"laphroaig, founded in 1815 by brothers donald ...",single malt,700.0,islay,laphroaig 10 year old single malt whisky,22,40.00%,scotland,unknown
2,glenfarclas,15 year old single malt scotch whisky 700ml,109.95,https://www.danmurphys.com.au/product/DM_14392...,15 year old single malt scotch whisky 700ml,single malt,700.0,highland,glenfarclas 15 year old single malt highland w...,25,46.00%,NaN,unknown

In [5]:
whisky.shape

(422, 13)

In [6]:
whisky.isnull().sum()

name               0
description        0
price              8
links              0
product_details    5
variatal           0
size               5
region             0
vintage            0
standard_drinks    0
alcohol_volumne    0
country            2
closure            0
dtype: int64

In [7]:
whisky.head(3)

,name,description,price,links,product_details,variatal,size,region,vintage,standard_drinks,alcohol_volumne,country,closure
0,laphroaig,quarter cask scotch whisky 700ml,84.95,https://www.danmurphys.com.au/product/DM_91660...,"the quarter cask is a strong, double cask matu...",single malt,700.0,islay,laphroaig quarter cask,26.5,48.00%,scotland,cork
1,laphroaig,10 year old single malt scotch whisky 700ml,79.95,https://www.danmurphys.com.au/product/DM_5512/...,"laphroaig, founded in 1815 by brothers donald ...",single malt,700.0,islay,laphroaig 10 year old single malt whisky,22,40.00%,scotland,unknown
2,glenfarclas,15 year old single malt scotch whisky 700ml,109.95,https://www.danmurphys.com.au/product/DM_14392...,15 year old single malt scotch whisky 700ml,single malt,700.0,highland,glenfarclas 15 year old single malt highland w...,25,46.00%,NaN,unknown

In [8]:
# Changing the data frame to a string for cleaning
whisky = whisky.astype(str)
# lowercasing the name column
whisky['name'] = whisky['name'].str.lower()
# lowercasing the description column
whisky['description'] = whisky['description'].str.lower()
# lowecasing the product_details column
whisky['product_details'] = whisky['product_details'].str.lower()
# lowercasing the product details column
whisky['variatal'] = whisky['variatal'].str.lower()
# lowercasing the product details column
whisky['region'] = whisky['region'].str.lower()

In [9]:
# Cleaning the Size column
whisky['size'] = whisky['size'].str.replace('mL','')
whisky['size'] = whisky['size'].str.replace('ml','')
whisky['size'] = whisky['size'].str.replace('L','000')

whisky['size'].loc[whisky[whisky['description'].str.contains('700')].index] = 700
whisky['size'].loc[whisky[whisky['description'].str.contains('750')].index] = 750
whisky['size'].loc[whisky[whisky['description'].str.contains('500')].index] = 500

whisky['size'].loc[whisky[whisky['size'] == 'Highland'].index] = 700
whisky['size'].loc[whisky[whisky['size'] == 'Speyside'].index] = 700
whisky['size'].loc[whisky[whisky['size'] == '17'].index] = 500

whisky['size'] = whisky['size'].str.replace(' ','')

whisky['size'].loc[whisky[whisky['description'].str.contains('700')].index] = '700'
whisky['size'].loc[whisky[whisky['description'].str.contains('750')].index] = '750'
whisky['size'].loc[whisky[whisky['description'].str.contains('500')].index] = '500'

In [10]:
# Cleaning the variatal column
whisky['variatal'] = whisky['variatal'].str.lower()
whisky['variatal'].loc[whisky['description'].str.contains('single malt')] = 'single malt'
whisky['variatal'].loc[whisky['product_details'].str.contains('single malt')] = 'single malt'
whisky['variatal'].loc[whisky[whisky['variatal'] != 'single malt'].index] = 'blended'

In [11]:
whisky.fillna('NaN', inplace=True)

In [12]:
# Cleaning the closure column
whisky['closure'].loc[whisky[np.column_stack(whisky[col].str.contains('Cork') for col in whisky)].index] = 'Cork'
whisky['closure'].loc[whisky[np.column_stack(whisky[col].str.contains('Screw Cap') for col in whisky)].index] = 'Screw Cap'
whisky['closure'].loc[whisky[np.column_stack(whisky[col].str.contains('Stopper') for col in whisky)].index] = 'Stopper'
whisky['closure'].loc[whisky[np.column_stack(whisky[col].str.contains('Twist Top') for col in whisky)].index] = 'Twist Top'
whisky['closure'].loc[whisky[np.column_stack(whisky[col].str.contains('cork') for col in whisky)].index] = 'Cork'

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  after removing the cwd from sys.path.
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  """
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

In [13]:
# Cleaning the closure column
whisky['closure'].loc[whisky[whisky['closure'] == 'no_information'].index] = 'Unknown'
whisky['closure'].loc[whisky[whisky['closure'] == 'Single Malt'].index] = 'Unknown'
whisky['closure'].loc[whisky[whisky['closure'] == 'nan'].index] = 'Unknown'
whisky['closure'].loc[whisky[whisky['closure'] == 'Oban 14 Year Old works well as an accompaniment to seafood like oysters or smoked salmon, and discover new depths of flavour'].index] = 'Unknown'
whisky['closure'].loc[whisky[whisky['closure'] == 'Glenfarclas'].index] = 'Unknown'
whisky['closure'].loc[whisky[whisky['closure'] == 'Glenkinchie'].index] = 'Unknown'
whisky['closure'].loc[whisky[whisky['closure'] == 'Islay Single Malt Scotch Whisky'].index] = 'Unknown'

In [14]:
whisky.drop('style', axis=1, inplace=True)

KeyError: "['style'] not found in axis"

In [15]:
whisky.drop('brand', axis=1, inplace=True)

KeyError: "['brand'] not found in axis"

In [16]:
# Cleaning the Region Column
whisky['region'].loc[whisky[np.column_stack(whisky[col].str.contains('islay') for col in whisky)].index] = 'Islay'
whisky['region'].loc[whisky[np.column_stack(whisky[col].str.contains('speyside') for col in whisky)].index] = 'Speyside'
whisky['region'].loc[whisky[np.column_stack(whisky[col].str.contains('highland') for col in whisky)].index] = 'Highland'
whisky['region'].loc[whisky[np.column_stack(whisky[col].str.contains('Lowland') for col in whisky)].index] = 'Lowland'
whisky['region'].loc[whisky[np.column_stack(whisky[col].str.contains('tasmania') for col in whisky)].index] = 'tasmania'
whisky['region'].loc[whisky[np.column_stack(whisky[col].str.contains('niigata') for col in whisky)].index] = 'niigata'

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  after removing the cwd from sys.path.
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  """
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  import sys

In [17]:
whisky['region'] = whisky['region'].str.lower()

In [18]:
# Claening the country column
whisky['country'].loc[whisky[np.column_stack(whisky[col].str.contains('japanese') for col in whisky)].index] = 'Japan'
whisky['country'].loc[whisky[np.column_stack(whisky[col].str.contains('england') for col in whisky)].index] = 'England'
whisky['country'].loc[whisky[np.column_stack(whisky[col].str.contains('wales') for col in whisky)].index] = 'Wales'
whisky['country'].loc[whisky[np.column_stack(whisky[col].str.contains('Scotland') for col in whisky)].index] = 'Scotland'
whisky['country'].loc[whisky[np.column_stack(whisky[col].str.contains('Tasmania') for col in whisky)].index] = 'Australia'
whisky['country'].loc[whisky[np.column_stack(whisky[col].str.contains('Irish') for col in whisky)].index] = 'Ireland'
whisky['country'].loc[whisky[np.column_stack(whisky[col].str.contains('Ireland') for col in whisky)].index] = 'Ireland'
whisky['country'].loc[whisky[np.column_stack(whisky[col].str.contains('New Zealand') for col in whisky)].index] = 'New Zealand'

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  after removing the cwd from sys.path.
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  """
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  import sys
/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  if __name__ == '__main__':

In [19]:
whisky.head()

,name,description,price,links,product_details,variatal,size,region,vintage,standard_drinks,alcohol_volumne,country,closure
0,laphroaig,quarter cask scotch whisky 700ml,84.95,https://www.danmurphys.com.au/product/DM_91660...,"the quarter cask is a strong, double cask matu...",single malt,700,islay,laphroaig quarter cask,26.5,48.00%,scotland,Cork
1,laphroaig,10 year old single malt scotch whisky 700ml,79.95,https://www.danmurphys.com.au/product/DM_5512/...,"laphroaig, founded in 1815 by brothers donald ...",single malt,700,islay,laphroaig 10 year old single malt whisky,22,40.00%,scotland,unknown
2,glenfarclas,15 year old single malt scotch whisky 700ml,109.95,https://www.danmurphys.com.au/product/DM_14392...,15 year old single malt scotch whisky 700ml,single malt,700,highland,glenfarclas 15 year old single malt highland w...,25,46.00%,nan,unknown
3,glenfarclas,12 year old single malt scotch whisky 700ml,115.99,https://www.danmurphys.com.au/product/DM_11783...,don't be fooled by the nose into thinking this...,single malt,700,highland,glenfarclas 12 year old single highland malt s...,24,43.00%,scotland,unknown
4,glenfiddich,12 year old single malt scotch whisky 700ml,61.95,https://www.danmurphys.com.au/product/DM_17621...,"after 12 years, this signature single malt by ...",single malt,700,speyside,22,40.00%,Scotland,Scotland,Cork

In [20]:
whisky['vintage'] = whisky['vintage'].str.lower()

In [21]:
whisky['country'] = whisky['country'].str.lower()

In [22]:
whisky.head()

,name,description,price,links,product_details,variatal,size,region,vintage,standard_drinks,alcohol_volumne,country,closure
0,laphroaig,quarter cask scotch whisky 700ml,84.95,https://www.danmurphys.com.au/product/DM_91660...,"the quarter cask is a strong, double cask matu...",single malt,700,islay,laphroaig quarter cask,26.5,48.00%,scotland,Cork
1,laphroaig,10 year old single malt scotch whisky 700ml,79.95,https://www.danmurphys.com.au/product/DM_5512/...,"laphroaig, founded in 1815 by brothers donald ...",single malt,700,islay,laphroaig 10 year old single malt whisky,22,40.00%,scotland,unknown
2,glenfarclas,15 year old single malt scotch whisky 700ml,109.95,https://www.danmurphys.com.au/product/DM_14392...,15 year old single malt scotch whisky 700ml,single malt,700,highland,glenfarclas 15 year old single malt highland w...,25,46.00%,nan,unknown
3,glenfarclas,12 year old single malt scotch whisky 700ml,115.99,https://www.danmurphys.com.au/product/DM_11783...,don't be fooled by the nose into thinking this...,single malt,700,highland,glenfarclas 12 year old single highland malt s...,24,43.00%,scotland,unknown
4,glenfiddich,12 year old single malt scotch whisky 700ml,61.95,https://www.danmurphys.com.au/product/DM_17621...,"after 12 years, this signature single malt by ...",single malt,700,speyside,22,40.00%,Scotland,scotland,Cork

In [1567]:
whisky.to_csv('./whisky.csv')

In [23]:
whisky = pd.read_csv('./whisky.csv', index_col=0)

data = whisky.drop(['links', 'region', 'vintage', 'standard_drinks', 'alcohol_volumne'], axis=1)

In [24]:
data.to_csv('./data.csv')

NameError: name 'data' is not defined

In [25]:
data = pd.read_csv('./data.csv', index_col=0)

In [26]:
data.dropna(inplace=True)

In [27]:
data.shape

(404, 9)

## Exploratory Data Analysis

In [28]:
data.head()

,name,description,price,product_details,variatal,size,country,closure,target
0,laphroaig,quarter cask scotch whisky 700ml,84.95,"the quarter cask is a strong, double cask matu...",single malt,700.0,scotland,cork,0
1,laphroaig,10 year old single malt scotch whisky 700ml,79.95,"laphroaig, founded in 1815 by brothers donald ...",single malt,700.0,scotland,unknown,0
2,glenfarclas,15 year old single malt scotch whisky 700ml,109.95,15 year old single malt scotch whisky 700ml,single malt,700.0,scotland,unknown,1
3,glenfarclas,12 year old single malt scotch whisky 700ml,115.99,don't be fooled by the nose into thinking this...,single malt,700.0,scotland,unknown,1
4,glenfiddich,12 year old single malt scotch whisky 700ml,61.95,"after 12 years, this signature single malt by ...",single malt,700.0,scotland,cork,0

In [29]:
#data['price'] = data['price'].str.replace(',','')

In [30]:
data['price'] = data['price'].astype(float)

In [31]:
data['price'].plot(kind='hist', bins=50)

In [32]:
print('Minimun price: ',data['price'].min())
print('Max price: ',data['price'].max())
print('Most common price: ',data['price'].mode())
print('Average price: ',data['price'].mean())

Minimun price:  42.9
Max price:  60000.0
Most common price:  0    99.99
dtype: float64
Average price:  1256.649331683167

## Preprocessing

In [33]:
# Setting up a target for logistic regression
data['target'] = data['price'].map(lambda x: 1 if x > 150.0 else 0)

In [34]:
data.head(3)

,name,description,price,product_details,variatal,size,country,closure,target
0,laphroaig,quarter cask scotch whisky 700ml,84.95,"the quarter cask is a strong, double cask matu...",single malt,700.0,scotland,cork,0
1,laphroaig,10 year old single malt scotch whisky 700ml,79.95,"laphroaig, founded in 1815 by brothers donald ...",single malt,700.0,scotland,unknown,0
2,glenfarclas,15 year old single malt scotch whisky 700ml,109.95,15 year old single malt scotch whisky 700ml,single malt,700.0,scotland,unknown,0

In [35]:
# Splitting up the target and features
y = data['price'].values
X = data['product_details']

from sklearn.feature_extraction.text import CountVectorizer
cvec = CountVectorizer(ngram_range=(1,3), stop_words='english')
cvec.fit(X)
X = pd.DataFrame(cvec.transform(X).todense(),
                 columns=cvec.get_feature_names())

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.8)

## Modelling

In [36]:
# Trying Linear Regession
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import cross_val_score

lr = LinearRegression()
score = cross_val_score(lr, X_train, y_train, cv=5)
print(score)

lr.fit(X_train, y_train)
y_hat = lr.predict(X_test)
print(lr.score(X_test, y_test))

[ 0.01961228  0.02651311  0.0813892  -0.03905933  0.18938726]
-0.1812217412135797

In [37]:
# Splitting up the target and features
y = data['target'].values
X = data['product_details']

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
cvec = CountVectorizer(ngram_range=(1,3), stop_words='english')
cvec.fit(X)
X = pd.DataFrame(cvec.transform(X).todense(),
                 columns=cvec.get_feature_names())

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.8)

In [38]:
# Trying Logistic Regression
log = LogisticRegression(solver='lbfgs')
score = cross_val_score(log, X_train, y_train, cv=5)
print(score)

log.fit(X_train, y_train)
y_hat = log.predict(X_test)
print(log.score(X_test, y_test))

[0.56923077 0.58461538 0.6        0.625      0.65625   ]
0.691358024691358

In [39]:
# baseline
data['target'].value_counts(normalize=True)[0]

0.5

In [40]:
# Trying with Random Forest
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=25, max_depth=12)
score = cross_val_score(rfc, X_train, y_train, cv=5)
print(score)

rfc.fit(X_train, y_train)
y_hat = rfc.predict(X_test)
print(rfc.score(X_test, y_test))

[0.50769231 0.66153846 0.52307692 0.5625     0.578125  ]
0.6419753086419753

## Prediction Over/Under AUD $150

In [41]:
# Model
y = data['target'].values
X = data['product_details']

cvec = CountVectorizer(ngram_range=(1,3), stop_words='english')
cvec.fit_transform(X)
X_data = pd.DataFrame(cvec.transform(X).todense(),
                      columns=cvec.get_feature_names())

log = LogisticRegression(solver='lbfgs')

log.fit(X_data,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [45]:
test = input('Enter Description: ')
test = test.lower()

test = [test]

cvec.fit_transform(test)
test_data = pd.DataFrame(cvec.transform(test).todense(),
                      columns=cvec.get_feature_names())

X_test = X_data[0:0]
X_test = X_test.append(pd.Series(), ignore_index=True, sort=False)
X_test = X_test.fillna(0)
X_test = X_test.append(test_data, sort=False)
X_test = X_test.sum(axis=0)
X_test = X_test[0:32775]
X_test = X_test.values
X_test = X_test.reshape(1,-1)

acuracy = log.predict_proba(X_test)
acuracy = acuracy[0]
result = log.predict(X_test)

if result == 0:
    print('-'*60)
    print('This Whisky is predicted to be valued at under AUD$150')
    print('This is predicted with {}% acuracy'.format(round(acuracy[0],2)))
else:
    print('-'*60)
    print('This Whisky is predicted to be valued at over AUD$150')
    print('This is predicted with {}% acuracy'.format(round(acuracy[1],2)))

Enter Description:   Suntory shines again! Of all the Hibiki bottles, the Hibiki 30 Year Old is the cream of the crop. It was awarded at the International Spirits Challenge in 2004, 2006, and 2008, and received the coveted title of â€œWorldâ€™s Best Blended Whiskyâ€ at the World Whiskies Award in 2007 and 2008. Comprising of grain and malt whiskies aged for 30 years and over, a dram doesnâ€™t get much better than this.

------------------------------------------------------------
This Whisky is predicted to be valued at over AUD$150
This is predicted with 0.74% acuracy